{{> head}}
{{> navbar}}

<div class="row">
<div class="col-8">
<h1>BALBALBALBAL</h1>
<p>>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium enim, aliquid culpa id, quisquam officia vitae quibusdam laborum magnam blanditiis, fuga delectus odit. Commodi facilis nihil nisi ducimus maxime. Quod?</p></div>
<div class="col-4">
<img src="./../assets/descarga.jpg" class="thumbnail"> </div>
</div>
{{> footer}}